<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClientCreateDlg" widgetVar="ClientCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateClientTitle}">
            <h:form id="ClientCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clientController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateClientLabel_id}" for="id" />
                        <p:inputText id="id" value="#{clientController.selected.id}" title="#{bundle.CreateClientTitle_id}" />
                        <p:outputLabel value="#{bundle.CreateClientLabel_firstName}" for="firstName" />
                        <p:inputText id="firstName" value="#{clientController.selected.firstName}" title="#{bundle.CreateClientTitle_firstName}" />
                        <p:outputLabel value="#{bundle.CreateClientLabel_lastName}" for="lastName" />
                        <p:inputText id="lastName" value="#{clientController.selected.lastName}" title="#{bundle.CreateClientTitle_lastName}" />
                        <p:outputLabel value="#{bundle.CreateClientLabel_pesel}" for="pesel" />
                        <p:inputText id="pesel" value="#{clientController.selected.pesel}" title="#{bundle.CreateClientTitle_pesel}" />
                        <p:outputLabel value="#{bundle.CreateClientLabel_address}" for="address" />
                        <p:selectOneMenu id="address" value="#{clientController.selected.address}" >
                            <f:selectItems value="#{addressController.itemsAvailableSelectOne}"
                                           var="addressItem"
                                           itemValue="#{addressItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clientController.create}" value="#{bundle.Save}" update="display,:ClientListForm:datalist,:growl" oncomplete="handleSubmit(args,'ClientCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ClientCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
