<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClientViewDlg" widgetVar="ClientViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewClientTitle}">
            <h:form id="ClientViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clientController.selected != null}">
                        <h:outputText value="#{bundle.ViewClientLabel_id}"/>
                        <h:outputText value="#{clientController.selected.id}" title="#{bundle.ViewClientTitle_id}"/>
                        <h:outputText value="#{bundle.ViewClientLabel_firstName}"/>
                        <h:outputText value="#{clientController.selected.firstName}" title="#{bundle.ViewClientTitle_firstName}"/>
                        <h:outputText value="#{bundle.ViewClientLabel_lastName}"/>
                        <h:outputText value="#{clientController.selected.lastName}" title="#{bundle.ViewClientTitle_lastName}"/>
                        <h:outputText value="#{bundle.ViewClientLabel_pesel}"/>
                        <h:outputText value="#{clientController.selected.pesel}" title="#{bundle.ViewClientTitle_pesel}"/>
                        <h:outputText value="#{bundle.ViewClientLabel_address}"/>
                        <h:outputText value="#{clientController.selected.address}" title="#{bundle.ViewClientTitle_address}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ClientViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
