<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CarModelEditDlg" widgetVar="CarModelEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditCarModelTitle}">
            <h:form id="CarModelEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{carModelController.selected != null}">
                        <p:outputLabel value="#{bundle.EditCarModelLabel_id}" for="id" />
                        <p:inputText id="id" value="#{carModelController.selected.id}" title="#{bundle.EditCarModelTitle_id}" />
                        <p:outputLabel value="#{bundle.EditCarModelLabel_name}" for="name" />
                        <p:inputText id="name" value="#{carModelController.selected.name}" title="#{bundle.EditCarModelTitle_name}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{carModelController.update}" value="#{bundle.Save}" update="display,:CarModelListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CarModelEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CarModelEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
