<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CarModelViewDlg" widgetVar="CarModelViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCarModelTitle}">
            <h:form id="CarModelViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{carModelController.selected != null}">
                        <h:outputText value="#{bundle.ViewCarModelLabel_id}"/>
                        <h:outputText value="#{carModelController.selected.id}" title="#{bundle.ViewCarModelTitle_id}"/>
                        <h:outputText value="#{bundle.ViewCarModelLabel_name}"/>
                        <h:outputText value="#{carModelController.selected.name}" title="#{bundle.ViewCarModelTitle_name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CarModelViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
