<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CarCreateDlg" widgetVar="CarCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCarTitle}">
            <h:form id="CarCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{carController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCarLabel_id}" for="id" />
                        <p:inputText id="id" value="#{carController.selected.id}" title="#{bundle.CreateCarTitle_id}" />
                        <p:outputLabel value="#{bundle.CreateCarLabel_regNo}" for="regNo" />
                        <p:inputText id="regNo" value="#{carController.selected.regNo}" title="#{bundle.CreateCarTitle_regNo}" />
                        <p:outputLabel value="#{bundle.CreateCarLabel_regDate}" for="regDate" />
                        <p:inputText id="regDate" value="#{carController.selected.regDate}" title="#{bundle.CreateCarTitle_regDate}" />
                        <p:outputLabel value="#{bundle.CreateCarLabel_vin}" for="vin" />
                        <p:inputText id="vin" value="#{carController.selected.vin}" title="#{bundle.CreateCarTitle_vin}" />
                        <p:outputLabel value="#{bundle.CreateCarLabel_prodYear}" for="prodYear" />
                        <p:inputText id="prodYear" value="#{carController.selected.prodYear}" title="#{bundle.CreateCarTitle_prodYear}" />
                        <p:outputLabel value="#{bundle.CreateCarLabel_engine}" for="engine" />
                        <p:selectOneMenu id="engine" value="#{carController.selected.engine}" >
                            <f:selectItems value="#{engineController.itemsAvailableSelectOne}"
                                           var="engineItem"
                                           itemValue="#{engineItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateCarLabel_carFactory}" for="carFactory" />
                        <p:selectOneMenu id="carFactory" value="#{carController.selected.carFactory}" >
                            <f:selectItems value="#{carFactoryController.itemsAvailableSelectOne}"
                                           var="carFactoryItem"
                                           itemValue="#{carFactoryItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateCarLabel_carModel}" for="carModel" />
                        <p:selectOneMenu id="carModel" value="#{carController.selected.carModel}" >
                            <f:selectItems value="#{carModelController.itemsAvailableSelectOne}"
                                           var="carModelItem"
                                           itemValue="#{carModelItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{carController.create}" value="#{bundle.Save}" update="display,:CarListForm:datalist,:growl" oncomplete="handleSubmit(args,'CarCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CarCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
