<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CarViewDlg" widgetVar="CarViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCarTitle}">
            <h:form id="CarViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{carController.selected != null}">
                        <h:outputText value="#{bundle.ViewCarLabel_id}"/>
                        <h:outputText value="#{carController.selected.id}" title="#{bundle.ViewCarTitle_id}"/>
                        <h:outputText value="#{bundle.ViewCarLabel_regNo}"/>
                        <h:outputText value="#{carController.selected.regNo}" title="#{bundle.ViewCarTitle_regNo}"/>
                        <h:outputText value="#{bundle.ViewCarLabel_regDate}"/>
                        <h:outputText value="#{carController.selected.regDate}" title="#{bundle.ViewCarTitle_regDate}"/>
                        <h:outputText value="#{bundle.ViewCarLabel_vin}"/>
                        <h:outputText value="#{carController.selected.vin}" title="#{bundle.ViewCarTitle_vin}"/>
                        <h:outputText value="#{bundle.ViewCarLabel_prodYear}"/>
                        <h:outputText value="#{carController.selected.prodYear}" title="#{bundle.ViewCarTitle_prodYear}"/>
                        <h:outputText value="#{bundle.ViewCarLabel_engine}"/>
                        <h:outputText value="#{carController.selected.engine}" title="#{bundle.ViewCarTitle_engine}"/>
                        <h:outputText value="#{bundle.ViewCarLabel_carFactory}"/>
                        <h:outputText value="#{carController.selected.carFactory}" title="#{bundle.ViewCarTitle_carFactory}"/>
                        <h:outputText value="#{bundle.ViewCarLabel_carModel}"/>
                        <h:outputText value="#{carController.selected.carModel}" title="#{bundle.ViewCarTitle_carModel}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CarViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
