<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <ui:define name="title">
            <title>Insurance check</title>
        </ui:define>
    </h:head>
    <h:body>
    <ui:composition template="templateCars.xhtml">
        <ui:define name="content">
            <h:form>
                <div class="input-group">Resale shop client:</div>
                <div class="input-group">
                    <span class="input-group-addon">Name: </span>
                    <h:inputText class="form-control" label="first name" id="firstName" value="#{RegClientCtrl.firstName}"/>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Surname: </span>
                    <h:inputText class="form-control" label="last name" id="lastName" value="#{RegClientCtrl.lastName}"/>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Pesel: </span>
                    <h:inputText class="form-control" label="pesel" id="pesel" value="#{RegClientCtrl.pesel}"/>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">City: </span>
                    <h:inputText class="form-control" label="city" id="city" value="#{RegClientCtrl.city}"/>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Street: </span>
                    <h:inputText class="form-control" label="street" id="street" value="#{RegClientCtrl.street}"/>
                </div>
                <br/>
                 <div class="input-group">
                    <span class="input-group-addon">ZipCode: </span>
                    <h:inputText class="form-control" label="zipcode" id="zipcode" value="#{RegClientCtrl.zipcode}"/>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
    </h:body>
</html>

