<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <ui:define name="title">
            <title>Library (INDEX)</title>
        </ui:define>
    </h:head>
    <h:body>
    <ui:composition template="templateCars.xhtml">
        <ui:define name="content">
            <h2>You can check your insurance details here.</h2>
        </ui:define>
    </ui:composition>
    </h:body>
</html>

