<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      >
    <h:body>
        <ui:composition>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Car Dealer</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="addCar.xhtml">Add Car</a></li>
                            <li class=""><a href="addClient.xhtml">Register</a></li>
                            <li class=""><a href="viewCars.xhtml">View offers</a></li>
                            <li class=""><a href="about.xhtml">About</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Console <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Manage Customers</a></li>
                                    <li><a href="#">Manage Cars</a></li>
                                    <li><a href="#">Manage Insurence</a></li>
                                </ul>
                            </li>
                        </ul>
                        <h:form class="navbar-form navbar-left">
                            <div class="form-group">
                                <h:inputText value="#{LoginCtrl.user.login}" autocomplete="off" rendered="#{not LoginCtrl.logged}" id="login"/>
                                <h:messages globalOnly="true" for="login" warnStyle="color: #110000;"/>
                            </div>
                            <h:commandButton class="btn btn-default" action="#{LoginCtrl.login}" value="Login"/>
                        </h:form>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </ui:composition>
    </h:body>
</html>
