<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
        <h:head>

        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <ui:insert name="title">
            <title>Library</title>
        </ui:insert>

        <h:outputStylesheet library="webjars" name="/bootstrap/3.3.6/css/bootstrap.min-jsf.css" />
        <h:outputStylesheet library="webjars" name="/bootstrap/3.3.6/css/bootstrap-theme.min-jsf.css" />
        <h:outputStylesheet library="webjars" name="/font-awesome/4.5.0/css/font-awesome.min-jsf.css" />


    </h:head>
    <h:body>
                <ui:insert name="menu">
                    <ui:include src="menu.xhtml" />
                </ui:insert>
        <div class="container">
                <ui:insert name="content"/>
        </div>
        
        <!-- load js at bottom for faster loading-->
        <h:outputScript library="webjars" name="/jquery/2.1.4/jquery.min.js"/>
        <h:outputScript library="webjars" name="/bootstrap/3.3.6/js/bootstrap.min.js" />
    </h:body>
</html>
