<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CarFactoryCreateDlg" widgetVar="CarFactoryCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCarFactoryTitle}">
            <h:form id="CarFactoryCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{carFactoryController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCarFactoryLabel_id}" for="id" />
                        <p:inputText id="id" value="#{carFactoryController.selected.id}" title="#{bundle.CreateCarFactoryTitle_id}" />
                        <p:outputLabel value="#{bundle.CreateCarFactoryLabel_name}" for="name" />
                        <p:inputText id="name" value="#{carFactoryController.selected.name}" title="#{bundle.CreateCarFactoryTitle_name}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{carFactoryController.create}" value="#{bundle.Save}" update="display,:CarFactoryListForm:datalist,:growl" oncomplete="handleSubmit(args,'CarFactoryCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CarFactoryCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
