<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AddressCreateDlg" widgetVar="AddressCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAddressTitle}">
            <h:form id="AddressCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{addressController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAddressLabel_id}" for="id" />
                        <p:inputText id="id" value="#{addressController.selected.id}" title="#{bundle.CreateAddressTitle_id}" />
                        <p:outputLabel value="#{bundle.CreateAddressLabel_street}" for="street" />
                        <p:inputText id="street" value="#{addressController.selected.street}" title="#{bundle.CreateAddressTitle_street}" />
                        <p:outputLabel value="#{bundle.CreateAddressLabel_zipCode}" for="zipCode" />
                        <p:inputText id="zipCode" value="#{addressController.selected.zipCode}" title="#{bundle.CreateAddressTitle_zipCode}" />
                        <p:outputLabel value="#{bundle.CreateAddressLabel_city}" for="city" />
                        <p:inputText id="city" value="#{addressController.selected.city}" title="#{bundle.CreateAddressTitle_city}" />
                        <p:outputLabel value="#{bundle.CreateAddressLabel_country}" for="country" />
                        <p:inputText id="country" value="#{addressController.selected.country}" title="#{bundle.CreateAddressTitle_country}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{addressController.create}" value="#{bundle.Save}" update="display,:AddressListForm:datalist,:growl" oncomplete="handleSubmit(args,'AddressCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AddressCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
