<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AddressViewDlg" widgetVar="AddressViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAddressTitle}">
            <h:form id="AddressViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{addressController.selected != null}">
                        <h:outputText value="#{bundle.ViewAddressLabel_id}"/>
                        <h:outputText value="#{addressController.selected.id}" title="#{bundle.ViewAddressTitle_id}"/>
                        <h:outputText value="#{bundle.ViewAddressLabel_street}"/>
                        <h:outputText value="#{addressController.selected.street}" title="#{bundle.ViewAddressTitle_street}"/>
                        <h:outputText value="#{bundle.ViewAddressLabel_zipCode}"/>
                        <h:outputText value="#{addressController.selected.zipCode}" title="#{bundle.ViewAddressTitle_zipCode}"/>
                        <h:outputText value="#{bundle.ViewAddressLabel_city}"/>
                        <h:outputText value="#{addressController.selected.city}" title="#{bundle.ViewAddressTitle_city}"/>
                        <h:outputText value="#{bundle.ViewAddressLabel_country}"/>
                        <h:outputText value="#{addressController.selected.country}" title="#{bundle.ViewAddressTitle_country}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AddressViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
