<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EngineCreateDlg" widgetVar="EngineCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateEngineTitle}">
            <h:form id="EngineCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{engineController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateEngineLabel_id}" for="id" />
                        <p:inputText id="id" value="#{engineController.selected.id}" title="#{bundle.CreateEngineTitle_id}" />
                        <p:outputLabel value="#{bundle.CreateEngineLabel_prodYear}" for="prodYear" />
                        <p:inputText id="prodYear" value="#{engineController.selected.prodYear}" title="#{bundle.CreateEngineTitle_prodYear}" />
                        <p:outputLabel value="#{bundle.CreateEngineLabel_power}" for="power" />
                        <p:inputText id="power" value="#{engineController.selected.power}" title="#{bundle.CreateEngineTitle_power}" />
                        <p:outputLabel value="#{bundle.CreateEngineLabel_capacity}" for="capacity" />
                        <p:inputText id="capacity" value="#{engineController.selected.capacity}" title="#{bundle.CreateEngineTitle_capacity}" />
                        <p:outputLabel value="#{bundle.CreateEngineLabel_prodNo}" for="prodNo" />
                        <p:inputText id="prodNo" value="#{engineController.selected.prodNo}" title="#{bundle.CreateEngineTitle_prodNo}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{engineController.create}" value="#{bundle.Save}" update="display,:EngineListForm:datalist,:growl" oncomplete="handleSubmit(args,'EngineCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EngineCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
