<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EngineViewDlg" widgetVar="EngineViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEngineTitle}">
            <h:form id="EngineViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{engineController.selected != null}">
                        <h:outputText value="#{bundle.ViewEngineLabel_id}"/>
                        <h:outputText value="#{engineController.selected.id}" title="#{bundle.ViewEngineTitle_id}"/>
                        <h:outputText value="#{bundle.ViewEngineLabel_prodYear}"/>
                        <h:outputText value="#{engineController.selected.prodYear}" title="#{bundle.ViewEngineTitle_prodYear}"/>
                        <h:outputText value="#{bundle.ViewEngineLabel_power}"/>
                        <h:outputText value="#{engineController.selected.power}" title="#{bundle.ViewEngineTitle_power}"/>
                        <h:outputText value="#{bundle.ViewEngineLabel_capacity}"/>
                        <h:outputText value="#{engineController.selected.capacity}" title="#{bundle.ViewEngineTitle_capacity}"/>
                        <h:outputText value="#{bundle.ViewEngineLabel_prodNo}"/>
                        <h:outputText value="#{engineController.selected.prodNo}" title="#{bundle.ViewEngineTitle_prodNo}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EngineViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
